<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/styleCombat.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <img id="gameboy" src="../images/gameboy.png" />
      <img id="terrain" src="../images/terrain.png" width="373" />
      <img
        id="pokemon"
        src="<%= dataAPI2.sprites.back_default %>"
        width="180"
      />
      <img
        id="pokemonVS"
        src="<%= dataAPI.sprites.front_default %>"
        width="100"
      />
      <div id="textPoke"></div>

      <!-- Emplacement Nom, PV, et Barre de Vie Mon Pokemon -->
      <div id="cadrePoke"></div>
      <div id="nomPoke">
        <p><%= nomPokemonFR.toUpperCase() %></p>
        <p>Lv100</p>
      </div>
      <div id="divBarrePoke">
        <progress
          id="barrePoke"
          value="<%= pv2 %>"
          max="<%= pvMax2 %>"
        ></progress>
      </div>
      <div></div>
      <div id="pvMaxPoke"><%= pv2 %>/<%= pvMax2 %></div>

      <!-- Emplacement Nom, PV, et Barre de Vie Pokemon adverse -->
      <div id="cadrePokeVS"></div>
      <div id="nomPokeVS">
        <p><%= nomPokemonFRVS.toUpperCase() %></p>
        <p>Lv100</p>
      </div>
      <div>
        <progress
          id="barrePokeVS"
          value="<%= pv1 %>"
          max="<%= pvMax1 %>"
        ></progress>
      </div>
      <div id="pvMaxPokeVS"><%= pv1 %>/<%= pvMax1 %></div>

      <div
        id="attaquePoke1"
        onclick="calculPV('attaquePoke1', 1)"
        style="cursor: pointer"
      >
        <div id="badgeAtt1"><%= attaque1.type.name %></div>
        <div><%= attaque1.names[3].name %></div>
      </div>
      <div
        id="attaquePoke2"
        onclick="calculPV('attaquePoke2', 2)"
        style="cursor: pointer"
      >
        <div id="badgeAtt2"><%= attaque2.type.name %></div>
        <div><%= attaque2.names[3].name %></div>
      </div>
      <div
        id="attaquePoke3"
        onclick="calculPV('attaquePoke3', 3)"
        style="cursor: pointer"
      >
        <div id="badgeAtt3"><%= attaque3.type.name %></div>
        <div><%= attaque3.names[3].name %></div>
      </div>
      <div
        id="attaquePoke4"
        onclick="calculPV('attaquePoke4', 4)"
        style="cursor: pointer"
      >
        <div id="badgeAtt4"><%= attaque4.type.name %></div>
        <div><%= attaque4.names[3].name %></div>
      </div>
    </div>
  </body>

  <script>
    const attaque_dmg1 = Number("<%- attaque1.power%>");
    const attaque_dmg2 = Number("<%- attaque2.power%>");
    const attaque_dmg3 = Number("<%- attaque3.power%>");
    const attaque_dmg4 = Number("<%- attaque4.power%>");

    const attaque_dmg1VS = Number("<%- attaque1VS.power%>");

    const attPoke = Number("<%- att2 %>");
    const defPoke = Number("<%- def2 %>");
    const attSPoke = Number("<%- attS2 %>");
    const defSPoke = Number("<%- defS2 %>");
    const vitPoke = Number("<%- vit2 %>");

    const attPokeVS = Number("<%- att1 %>");
    const defPokeVS = Number("<%- def1 %>");
    const attSPokeVS = Number("<%- attS1 %>");
    const defSPokeVS = Number("<%- defS1 %>");
    const vitPokeVS = Number("<%- vit1 %>");

    const pvVS = Number("<%- pvMax1 %>");
    let pvActuVS = pvVS;

    const pv = Number("<%- pvMax2 %>");
    let pvActu = pv;

    let colorAttaque1 = "white";
    let colorAttaque2 = "white";
    let colorAttaque3 = "white";
    let colorAttaque4 = "white";

    if ("<%- attaque1.type.name %>" === "normal") {
      colorAttaque1 = "rgba(173,165,148,255)";
    } else if ("<%- attaque1.type.name %>" === "fighting") {
      colorAttaque1 = "rgba(165,82,57,255)";
    } else if ("<%- attaque1.type.name %>" === "fire") {
      colorAttaque1 = "rgba(247,82,49,255)";
    } else if ("<%- attaque1.type.name %>" === "water") {
      colorAttaque1 = "rgba(57,156,255,255)";
    } else if ("<%- attaque1.type.name %>" === "rock") {
      colorAttaque1 = "rgba(189,165,90,255)";
    } else if ("<%- attaque1.type.name %>" === "dragon") {
      colorAttaque1 = "rgba(136,88,246,255)";
    } else if ("<%- attaque1.type.name %>" === "grass") {
      colorAttaque1 = "rgba(123,206,82,255)";
    } else if ("<%- attaque1.type.name %>" === "ice") {
      colorAttaque1 = "rgba(90,206,231,255)";
    } else if ("<%- attaque1.type.name %>" === "bug") {
      colorAttaque1 = "rgba(173,189,33,255)";
    } else if ("<%- attaque1.type.name %>" === "steel") {
      colorAttaque1 = "rgba(173,173,198,255)";
    } else if ("<%- attaque1.type.name %>" === "psychic") {
      colorAttaque1 = "rgba(255,115,165,255)";
    } else if ("<%- attaque1.type.name %>" === "ghost") {
      colorAttaque1 = "rgba(99,99,181,255)";
    } else if ("<%- attaque1.type.name %>" === "ground") {
      colorAttaque1 = "rgba(214,181,90,255)";
    } else if ("<%- attaque1.type.name %>" === "poison") {
      colorAttaque1 = "rgba(181,90,165,255)";
    } else if ("<%- attaque1.type.name %>" === "flying") {
      colorAttaque1 = "rgba(156,173,247,255)";
    } else if ("<%- attaque1.type.name %>" === "electric") {
      colorAttaque1 = "rgba(255,198,49,255)";
    } else if ("<%- attaque1.type.name %>" === "fairy") {
      colorAttaque1 = "rgba(224,154,227,255)";
    } else if ("<%- attaque1.type.name %>" === "dark") {
      colorAttaque1 = "rgba(115,90,74,255)";
    }

    if ("<%- attaque2.type.name %>" === "normal") {
      colorAttaque2 = "rgba(173,165,148,255)";
    } else if ("<%- attaque2.type.name %>" === "fighting") {
      colorAttaque2 = "rgba(165,82,57,255)";
    } else if ("<%- attaque2.type.name %>" === "fire") {
      colorAttaque2 = "rgba(247,82,49,255)";
    } else if ("<%- attaque2.type.name %>" === "water") {
      colorAttaque2 = "rgba(57,156,255,255)";
    } else if ("<%- attaque2.type.name %>" === "rock") {
      colorAttaque2 = "rgba(189,165,90,255)";
    } else if ("<%- attaque2.type.name %>" === "dragon") {
      colorAttaque2 = "rgba(136,88,246,255)";
    } else if ("<%- attaque2.type.name %>" === "grass") {
      colorAttaque2 = "rgba(123,206,82,255)";
    } else if ("<%- attaque2.type.name %>" === "ice") {
      colorAttaque2 = "rgba(90,206,231,255)";
    } else if ("<%- attaque2.type.name %>" === "bug") {
      colorAttaque2 = "rgba(173,189,33,255)";
    } else if ("<%- attaque2.type.name %>" === "steel") {
      colorAttaque2 = "rgba(173,173,198,255)";
    } else if ("<%- attaque2.type.name %>" === "psychic") {
      colorAttaque2 = "rgba(255,115,165,255)";
    } else if ("<%- attaque2.type.name %>" === "ghost") {
      colorAttaque2 = "rgba(99,99,181,255)";
    } else if ("<%- attaque2.type.name %>" === "ground") {
      colorAttaque2 = "rgba(214,181,90,255)";
    } else if ("<%- attaque2.type.name %>" === "poison") {
      colorAttaque2 = "rgba(181,90,165,255)";
    } else if ("<%- attaque2.type.name %>" === "flying") {
      colorAttaque2 = "rgba(156,173,247,255)";
    } else if ("<%- attaque2.type.name %>" === "electric") {
      colorAttaque2 = "rgba(255,198,49,255)";
    } else if ("<%- attaque2.type.name %>" === "fairy") {
      colorAttaque2 = "rgba(224,154,227,255)";
    } else if ("<%- attaque2.type.name %>" === "dark") {
      colorAttaque2 = "rgba(115,90,74,255)";
    }
    3;

    if ("<%- attaque3.type.name %>" === "normal") {
      colorAttaque3 = "rgba(173,165,148,255)";
    } else if ("<%- attaque3.type.name %>" === "fighting") {
      colorAttaque3 = "rgba(165,82,57,255)";
    } else if ("<%- attaque3.type.name %>" === "fire") {
      colorAttaque3 = "rgba(247,82,49,255)";
    } else if ("<%- attaque3.type.name %>" === "water") {
      colorAttaque3 = "rgba(57,156,255,255)";
    } else if ("<%- attaque3.type.name %>" === "rock") {
      colorAttaque3 = "rgba(189,165,90,255)";
    } else if ("<%- attaque3.type.name %>" === "dragon") {
      colorAttaque3 = "rgba(136,88,246,255)";
    } else if ("<%- attaque3.type.name %>" === "grass") {
      colorAttaque3 = "rgba(123,206,82,255)";
    } else if ("<%- attaque3.type.name %>" === "ice") {
      colorAttaque3 = "rgba(90,206,231,255)";
    } else if ("<%- attaque3.type.name %>" === "bug") {
      colorAttaque3 = "rgba(173,189,33,255)";
    } else if ("<%- attaque3.type.name %>" === "steel") {
      colorAttaque3 = "rgba(173,173,198,255)";
    } else if ("<%- attaque3.type.name %>" === "psychic") {
      colorAttaque3 = "rgba(255,115,165,255)";
    } else if ("<%- attaque3.type.name %>" === "ghost") {
      colorAttaque3 = "rgba(99,99,181,255)";
    } else if ("<%- attaque3.type.name %>" === "ground") {
      colorAttaque3 = "rgba(214,181,90,255)";
    } else if ("<%- attaque3.type.name %>" === "poison") {
      colorAttaque3 = "rgba(181,90,165,255)";
    } else if ("<%- attaque3.type.name %>" === "flying") {
      colorAttaque3 = "rgba(156,173,247,255)";
    } else if ("<%- attaque3.type.name %>" === "electric") {
      colorAttaque3 = "rgba(255,198,49,255)";
    } else if ("<%- attaque3.type.name %>" === "fairy") {
      colorAttaque3 = "rgba(224,154,227,255)";
    } else if ("<%- attaque3.type.name %>" === "dark") {
      colorAttaque3 = "rgba(115,90,74,255)";
    }

    if ("<%- attaque4.type.name %>" === "normal") {
      colorAttaque4 = "rgba(173,165,148,255)";
    } else if ("<%- attaque4.type.name %>" === "fighting") {
      colorAttaque4 = "rgba(165,82,57,255)";
    } else if ("<%- attaque4.type.name %>" === "fire") {
      colorAttaque4 = "rgba(247,82,49,255)";
    } else if ("<%- attaque4.type.name %>" === "water") {
      colorAttaque4 = "rgba(57,156,255,255)";
    } else if ("<%- attaque4.type.name %>" === "rock") {
      colorAttaque4 = "rgba(189,165,90,255)";
    } else if ("<%- attaque4.type.name %>" === "dragon") {
      colorAttaque4 = "rgba(136,88,246,255)";
    } else if ("<%- attaque4.type.name %>" === "grass") {
      colorAttaque4 = "rgba(123,206,82,255)";
    } else if ("<%- attaque4.type.name %>" === "ice") {
      colorAttaque4 = "rgba(90,206,231,255)";
    } else if ("<%- attaque4.type.name %>" === "bug") {
      colorAttaque4 = "rgba(173,189,33,255)";
    } else if ("<%- attaque4.type.name %>" === "steel") {
      colorAttaque4 = "rgba(173,173,198,255)";
    } else if ("<%- attaque4.type.name %>" === "psychic") {
      colorAttaque4 = "rgba(255,115,165,255)";
    } else if ("<%- attaque4.type.name %>" === "ghost") {
      colorAttaque4 = "rgba(99,99,181,255)";
    } else if ("<%- attaque4.type.name %>" === "ground") {
      colorAttaque4 = "rgba(214,181,90,255)";
    } else if ("<%- attaque4.type.name %>" === "poison") {
      colorAttaque4 = "rgba(181,90,165,255)";
    } else if ("<%- attaque4.type.name %>" === "flying") {
      colorAttaque4 = "rgba(156,173,247,255)";
    } else if ("<%- attaque4.type.name %>" === "electric") {
      colorAttaque4 = "rgba(255,198,49,255)";
    } else if ("<%- attaque4.type.name %>" === "fairy") {
      colorAttaque4 = "rgba(224,154,227,255)";
    } else if ("<%- attaque4.type.name %>" === "dark") {
      colorAttaque4 = "rgba(115,90,74,255)";
    }

    window.onload = function () {
      document.getElementById("badgeAtt1").style.backgroundColor =
        colorAttaque1;
      document.getElementById("badgeAtt2").style.backgroundColor =
        colorAttaque2;
      document.getElementById("badgeAtt3").style.backgroundColor =
        colorAttaque3;
      document.getElementById("badgeAtt4").style.backgroundColor =
        colorAttaque4;
    };

    function calculPV(id, num) {
      let modifPVVS = document.getElementById("pvMaxPokeVS");
      let modifPV = document.getElementById("pvMaxPoke");
      let barreVie = document.getElementById("barrePoke");
      let barreVieVS = document.getElementById("barrePokeVS");

      let test1 = "<%- type1VS %>";
      let test2 = "<%- type2VS %>";
      let test3 = "<%- type1 %>";
      let test4 = "<%- type2 %>";
      let test5 = "<%- attaque1.type.name %>";
      let test6 = "<%- attaque1VS.type.name %>";
      let test7 = "<%- attaque1.name %>";
      let test8 = "<%- attaque1VS.name %>";
      let test15 = "<%- nature %>";

      let efficace1 = 1;
      let efficace2 = 1;
      let efficace1VS = 1;
      let efficace2VS = 1;

      let typeAttaque = "";
      let typeAttaqueClass = "";
      const typeAttaqueClassVS = "<%- attaque1VS.damage_class.name %>";

      let degatAtt = 0;

      if (num === 1) {
        typeAttaque = "<%- attaque1.type.name %>";
        test7 = "<%- attaque1.name %>";
        degatAtt = attaque_dmg1;
        typeAttaqueClass = "<%- attaque1.damage_class.name %>";
      } else if (num === 2) {
        typeAttaque = "<%- attaque2.type.name %>";
        test7 = "<%- attaque2.name %>";
        degatAtt = attaque_dmg2;
        typeAttaqueClass = "<%- attaque2.damage_class.name %>";
      } else if (num === 3) {
        typeAttaque = "<%- attaque3.type.name %>";
        test7 = "<%- attaque3.name %>";
        degatAtt = attaque_dmg3;
        typeAttaqueClass = "<%- attaque3.damage_class.name %>";
      } else if (num === 4) {
        typeAttaque = "<%- attaque4.type.name %>";
        test7 = "<%- attaque4.name %>";
        degatAtt = attaque_dmg4;
        typeAttaqueClass = "<%- attaque4.damage_class.name %>";
      }

      //Attaque vs Type 1
      if (typeAttaque === "normal") {
        if ("<%- type1VS %>" === "rock" || "<%- type1VS %>" === "steel") {
          efficace1 = 0.5;
        } else if ("<%- type1VS %>" === "ghost") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "fire") {
        if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "water" ||
          "<%- type1VS %>" === "rock" ||
          "<%- type1VS %>" === "dragon"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "ice" ||
          "<%- type1VS %>" === "bug" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "water") {
        if (
          "<%- type1VS %>" === "water" ||
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "dragon"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "ground" ||
          "<%- type1VS %>" === "rock"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "grass") {
        if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "poison" ||
          "<%- type1VS %>" === "flying" ||
          "<%- type1VS %>" === "bug" ||
          "<%- type1VS %>" === "dragon" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "water" ||
          "<%- type1VS %>" === "ground" ||
          "<%- type1VS %>" === "rock"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "electric") {
        if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "electric" ||
          "<%- type1VS %>" === "dragon"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "water" ||
          "<%- type1VS %>" === "flying"
        ) {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "ground") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "ice") {
        if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "water" ||
          "<%- type1VS %>" === "ice" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "flying" ||
          "<%- type1VS %>" === "ground" ||
          "<%- type1VS %>" === "dragon"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "fighting") {
        if (
          "<%- type1VS %>" === "poison" ||
          "<%- type1VS %>" === "flying" ||
          "<%- type1VS %>" === "psychic" ||
          "<%- type1VS %>" === "bug" ||
          "<%- type1VS %>" === "fairy"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "normal" ||
          "<%- type1VS %>" === "ice" ||
          "<%- type1VS %>" === "rock" ||
          "<%- type1VS %>" === "dark" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "ghost") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "poison") {
        if (
          "<%- type1VS %>" === "poison" ||
          "<%- type1VS %>" === "ground" ||
          "<%- type1VS %>" === "rock" ||
          "<%- type1VS %>" === "ghost"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "fairy"
        ) {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "steel") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "ground") {
        if ("<%- type1VS %>" === "grass" || "<%- type1VS %>" === "bug") {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "electric" ||
          "<%- type1VS %>" === "poison" ||
          "<%- type1VS %>" === "rock" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "flying") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "flying") {
        if (
          "<%- type1VS %>" === "electric" ||
          "<%- type1VS %>" === "rock" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "fighting" ||
          "<%- type1VS %>" === "bug"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "psychic") {
        if ("<%- type1VS %>" === "psychic" || "<%- type1VS %>" === "steel") {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "fighting" ||
          "<%- type1VS %>" === "poison"
        ) {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "dark") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "bug") {
        if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "fighting" ||
          "<%- type1VS %>" === "poison" ||
          "<%- type1VS %>" === "flying" ||
          "<%- type1VS %>" === "ghost" ||
          "<%- type1VS %>" === "steel" ||
          "<%- type1VS %>" === "fairy"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "grass" ||
          "<%- type1VS %>" === "psychic" ||
          "<%- type1VS %>" === "dark"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "rock") {
        if (
          "<%- type1VS %>" === "fighting" ||
          "<%- type1VS %>" === "ground" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "flying" ||
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "ice" ||
          "<%- type1VS %>" === "bug"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "ghost") {
        if ("<%- type1VS %>" === "dark") {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "ghost" ||
          "<%- type1VS %>" === "psychic"
        ) {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "normal") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "dragon") {
        if ("<%- type1VS %>" === "steel") {
          efficace1 = 0.5;
        } else if ("<%- type1VS %>" === "dragon") {
          efficace1 = 2;
        } else if ("<%- type1VS %>" === "fairy") {
          efficace1 = 0;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "dark") {
        if (
          "<%- type1VS %>" === "fighting" ||
          "<%- type1VS %>" === "dark" ||
          "<%- type1VS %>" === "fairy"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "psychic" ||
          "<%- type1VS %>" === "ghost"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "steel") {
        if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "water" ||
          "<%- type1VS %>" === "electric" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "ice" ||
          "<%- type1VS %>" === "rock" ||
          "<%- type1VS %>" === "fairy"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else if (typeAttaque === "fairy") {
        if (
          "<%- type1VS %>" === "fire" ||
          "<%- type1VS %>" === "poison" ||
          "<%- type1VS %>" === "steel"
        ) {
          efficace1 = 0.5;
        } else if (
          "<%- type1VS %>" === "fighting" ||
          "<%- type1VS %>" === "dragon" ||
          "<%- type1VS %>" === "dark"
        ) {
          efficace1 = 2;
        } else {
          efficace1 = 1;
        }
      } else {
        efficace1 = 10;
      }

      //Attaque vs Type 2
      if (typeAttaque === "normal") {
        if ("<%- type2VS %>" === "rock" || "<%- type2VS %>" === "steel") {
          efficace2 = 0.5;
        } else if ("<%- type2VS %>" === "ghost") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "fire") {
        if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "water" ||
          "<%- type2VS %>" === "rock" ||
          "<%- type2VS %>" === "dragon"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "ice" ||
          "<%- type2VS %>" === "bug" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "water") {
        if (
          "<%- type2VS %>" === "water" ||
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "dragon"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "ground" ||
          "<%- type2VS %>" === "rock"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "grass") {
        if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "poison" ||
          "<%- type2VS %>" === "flying" ||
          "<%- type2VS %>" === "bug" ||
          "<%- type2VS %>" === "dragon" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "water" ||
          "<%- type2VS %>" === "ground" ||
          "<%- type2VS %>" === "rock"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "electric") {
        if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "electric" ||
          "<%- type2VS %>" === "dragon"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "water" ||
          "<%- type2VS %>" === "flying"
        ) {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "ground") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "ice") {
        if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "water" ||
          "<%- type2VS %>" === "ice" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "flying" ||
          "<%- type2VS %>" === "ground" ||
          "<%- type2VS %>" === "dragon"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "fighting") {
        if (
          "<%- type2VS %>" === "poison" ||
          "<%- type2VS %>" === "flying" ||
          "<%- type2VS %>" === "psychic" ||
          "<%- type2VS %>" === "bug" ||
          "<%- type2VS %>" === "fairy"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "normal" ||
          "<%- type2VS %>" === "ice" ||
          "<%- type2VS %>" === "rock" ||
          "<%- type2VS %>" === "dark" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "ghost") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "poison") {
        if (
          "<%- type2VS %>" === "poison" ||
          "<%- type2VS %>" === "ground" ||
          "<%- type2VS %>" === "rock" ||
          "<%- type2VS %>" === "ghost"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "fairy"
        ) {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "steel") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "ground") {
        if ("<%- type2VS %>" === "grass" || "<%- type2VS %>" === "bug") {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "electric" ||
          "<%- type2VS %>" === "poison" ||
          "<%- type2VS %>" === "rock" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "flying") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "flying") {
        if (
          "<%- type2VS %>" === "electric" ||
          "<%- type2VS %>" === "rock" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "fighting" ||
          "<%- type2VS %>" === "bug"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "psychic") {
        if ("<%- type2VS %>" === "psychic" || "<%- type2VS %>" === "steel") {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "fighting" ||
          "<%- type2VS %>" === "poison"
        ) {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "dark") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "bug") {
        if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "fighting" ||
          "<%- type2VS %>" === "poison" ||
          "<%- type2VS %>" === "flying" ||
          "<%- type2VS %>" === "ghost" ||
          "<%- type2VS %>" === "steel" ||
          "<%- type2VS %>" === "fairy"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "grass" ||
          "<%- type2VS %>" === "psychic" ||
          "<%- type2VS %>" === "dark"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "rock") {
        if (
          "<%- type2VS %>" === "fighting" ||
          "<%- type2VS %>" === "ground" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "flying" ||
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "ice" ||
          "<%- type2VS %>" === "bug"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "ghost") {
        if ("<%- type2VS %>" === "dark") {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "ghost" ||
          "<%- type2VS %>" === "psychic"
        ) {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "normal") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "dragon") {
        if ("<%- type2VS %>" === "steel") {
          efficace2 = 0.5;
        } else if ("<%- type2VS %>" === "dragon") {
          efficace2 = 2;
        } else if ("<%- type2VS %>" === "fairy") {
          efficace2 = 0;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "dark") {
        if (
          "<%- type2VS %>" === "fighting" ||
          "<%- type2VS %>" === "dark" ||
          "<%- type2VS %>" === "fairy"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "psychic" ||
          "<%- type2VS %>" === "ghost"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "steel") {
        if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "water" ||
          "<%- type2VS %>" === "electric" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "ice" ||
          "<%- type2VS %>" === "rock" ||
          "<%- type2VS %>" === "fairy"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else if (typeAttaque === "fairy") {
        if (
          "<%- type2VS %>" === "fire" ||
          "<%- type2VS %>" === "poison" ||
          "<%- type2VS %>" === "steel"
        ) {
          efficace2 = 0.5;
        } else if (
          "<%- type2VS %>" === "fighting" ||
          "<%- type2VS %>" === "dragon" ||
          "<%- type2VS %>" === "dark"
        ) {
          efficace2 = 2;
        } else {
          efficace2 = 1;
        }
      } else {
        efficace1 = 1;
      }

      let attaque = 0;
      let defense = 0;
      let attaqueVS = 0;
      let defenseVS = 0;

      if (typeAttaqueClass === "physical") {
        attaque = attPoke;
        defenseVS = defPokeVS;
      } else if (typeAttaqueClass === "special") {
        attaque = attSPoke;
        defenseVS = defSPokeVS;
      } else {
        attaque = 1;
        defenseVS = 1;
      }

      if (typeAttaqueClassVS === "physical") {
        attaqueVS = attPokeVS;
        defense = defPoke;
      } else if (typeAttaqueClassVS === "special") {
        attaqueVS = attSPokeVS;
        defense = defSPoke;
      } else {
        attaqueVS = 1;
        defense = 1;
      }

      let bonusType = 1;
      if (typeAttaque === "<%- type1 %>" || typeAttaque === "<%- type2 %>") {
        bonusType = 1.5;
      }

      if (vitPoke > vitPokeVS) {
        if (pvActu > 0) {
          pvActuVS = Math.round(
            pvActuVS -
              ((42 * attaque * degatAtt) / (defenseVS * 50) + 2) *
                bonusType *
                (efficace1 * efficace2)
          );
        } else {
          pvActuVS = pvActuVS;
        }
        if (pvActuVS > 0) {
          pvActu = Math.round(
            pvActu - ((42 * attaqueVS * attaque_dmg1VS) / (defense * 50) + 2)
          );
        } else {
          pvActu = pvActu;
        }
      } else if (vitPoke < vitPokeVS) {
        if (pvActuVS > 0) {
          pvActu = Math.round(
            pvActu - ((42 * attaqueVS * attaque_dmg1VS) / (defense * 50) + 2)
          );
        } else {
          pvActu = pvActu;
        }
        if (pvActu > 0) {
          pvActuVS = Math.round(
            pvActuVS -
              ((42 * attaque * degatAtt) / (defenseVS * 50) + 2) *
                bonusType *
                (efficace1 * efficace2)
          );
        } else {
          pvActuVS = pvActuVS;
        }
      } else if (vitPoke === vitPokeVS) {
        let random = Math.round(Math.random() * 1 + 1);
        if (random === 0) {
          if (pvActuVS > 0) {
            pvActu = Math.round(
              pvActu - ((42 * attaqueVS * attaque_dmg1VS) / (defense * 50) + 2)
            );
          } else {
            pvActu = pvActu;
          }
          if (pvActu > 0) {
            pvActuVS = Math.round(
              pvActuVS -
                ((42 * attaque * degatAtt) / (defenseVS * 50) + 2) *
                  bonusType *
                  (efficace1 * efficace2)
            );
          } else {
            pvActuVS = pvActuVS;
          }
        } else {
          if (pvActu > 0) {
            pvActuVS = Math.round(
              pvActuVS -
                ((42 * attaque * degatAtt) / (defenseVS * 50) + 2) *
                  bonusType *
                  (efficace1 * efficace2)
            );
          } else {
            pvActuVS = pvActuVS;
          }
          if (pvActuVS > 0) {
            pvActu = Math.round(
              pvActu - ((42 * attaqueVS * attaque_dmg1VS) / (defense * 50) + 2)
            );
          } else {
            pvActu = pvActu;
          }
        }
      }

      if (pvActuVS < 0) {
        pvActuVS = 0;
      }
      if (pvActu < 0) {
        pvActu = 0;
      }

      console.log("type1VS", test1);
      console.log("type2VS", test2);
      console.log("attaque1.name", test7);
      console.log("typeAttaque", typeAttaque);
      console.log("attaque1VS.name", test8);
      console.log("attaque1VS.type.name", test6);
      console.log("efficace1", efficace1);
      console.log("efficace2", efficace2);
      console.log("attaque", attaque);
      console.log("defenseVS", defenseVS);
      console.log("typeAttaqueClass", typeAttaqueClass);
      console.log("vitPoke", vitPoke);
      console.log("vitPokeVS", vitPokeVS);
      console.log("bonusType", bonusType);
      console.log("nature", test15);

      modifPV.textContent = `${pvActu}/<%= pvMax2 %>`;
      barreVie.value = pvActu;
      modifPVVS.textContent = `${pvActuVS}/<%= pvMax1 %>`;
      barreVieVS.value = pvActuVS;
    }
  </script>
</html>
